body {
    background: #2d2d2d;
    color: white;
    padding: 1rem;
}

#banner
{
    font-size: 1.2rem;
    font-family: monospace;
    line-height: 1.2rem;
}

#output {
    font-family: monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    line-height: 1.5rem;
}

#output a {
    color: #f0f0f0;
}

#output pre.qrcode {
    font-size: 0.5rem;
    line-height: 0.5rem;
}

#output > div.response {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
    background-color: #444;
}

#prompt {
    font-family: monospace;
    background: none;
    color: inherit;
    outline: none;
    width: 80%;
    font-size: 1rem;
    border: none;
    caret-shape: block;
}

#prompt-label {
    font-family: monospace;
    display: inline-block;
    margin-right: 0.4rem;
    font-size: 1rem;
}


